@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Michroma&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.leaderboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.rankers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaderboard h1 {
    color: gold;
}

.leaderboard h2 {
    color: silver;
}

.leaderboard h3 {
    color: brown;
}

.leaderboard p {
    color: gray;
}

.trophy-icon {
    width: 2rem;
}