# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

.TODO.txt

math_defender/HELP.md
math_defender/target/
math_defender/.mvn/wrapper/maven-wrapper.jar
math_defender/!**/src/main/**/target/
math_defender/!**/src/test/**/target/
math_defender/
math_defender/### STS ###
math_defender/.apt_generated
math_defender/.classpath
math_defender/.factorypath
math_defender/.project
math_defender/.settings
math_defender/.springBeans
math_defender/.sts4-cache
math_defender/
math_defender/### IntelliJ IDEA ###
math_defender/.idea
math_defender/*.iws
math_defender/*.iml
math_defender/*.ipr
math_defender/
math_defender/### NetBeans ###
math_defender/nbproject/private/
math_defender/nbbuild/
math_defender/dist/
math_defender/nbdist/
math_defender/.nb-gradle/
math_defender/build/
math_defender/!**/src/main/**/build/
math_defender/!**/src/test/**/build/
math_defender/
math_defender/### VS Code ###
math_defender/.vscode/
