
.config {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    margin: 0 auto;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.setting-group input[type="checkbox"], .setting-group input[type="range"] {
    accent-color: var(--buttons-primary);
}

.user-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.user-settings button {
    border: 1px solid black;
    padding: 1rem;
    box-shadow: none;
}

.logout-button {
    background-color: gray;
    width: 100%;
}

.logout-button:hover {
    background-color: rgb(85, 85, 85);
}

.delete-account-button {
    background-color: var(--danger);
}

.delete-account-button:hover {
    background-color: darkred;
}

@media (max-width: 768px) {
    .config {
        width: 90%;
    }
}