@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.game-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.game-over {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: rgb(66, 66, 66);
    width: fit-content;
    padding: 3rem;
    border-radius: 2rem;
    margin: 0 auto;

    border: 4px black solid;
    border-top: 2px solid black;
    border-bottom: .8rem solid black;
    box-shadow: 0 0.1rem 0px 1px silver;
}

.game-over > h1 {

    color: red;
    text-shadow:
    0 2px darkred,
    0 4px rgb(75, 0, 0);
}

.health-title {
    padding: 2rem;
    color: red;
}

.battleground {
    flex: 1;
    position: relative;
    color: white;
}

.scores-holder {
    display: flex;
    justify-content: space-evenly;
    font-family: "Saira Stencil One";
    position: absolute;
    bottom: 0;
    width: 100%;
}

.difficulty-meter {
    color: white;
}

.score-meter {
    color: cyan;
}

.rival-best-score {
    color: darkmagenta;
}

.game-pane footer {
    background-color: rgb(63, 63, 255);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.game-pane footer input {
    padding: 1.4rem;
    border-radius: 1rem;
    border: none;
    width: 40%;
    outline: none;
}

.game-pane footer .icon-button {
    width: 3rem;
    border-radius: 1rem;
    border: black 2px solid;
    cursor: pointer;
    background-color: var(--danger);
    box-sizing: border-box;
}

.game-pane footer .icon-button:hover {
    background-color: rgb(250, 169, 182);
}

.game-pane footer .icon-button:active {
    box-shadow: inset 0 0 4px 2px;
}

.game-pane footer .icon-button:active path {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .difficulty-meter {
        display: none;
    }

    .rival-best-score {
        display: none;
    }
}