
.how-to-play {
    min-height: 100%;
    padding: 2rem;
    color: white;
}

.guide {
    text-wrap: wrap;
    padding-bottom: 1rem;
}

.how-to-play h1 {
    font-family: monospace;
}

.how-to-play p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}


/* Adjusting for Desktop view*/
@media (min-width: 768px) {
    .how-to-play {
        width: 60%;
        margin: auto;
    }
}