
.question-block {
    position: absolute;
    width: fit-content;
    animation-name: fall;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    white-space: nowrap;
}

@keyframes fall {
    from {top: 0;}
    to {top: 100%;}
}